@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
html, body {
    width: 100%;
    
}
/* 해당 메뉴 활성화 */
.lnb-menu > li:nth-child(2) > a {
    color: royalblue !important;
}
/* main section 영역 */
.main-section-wrapper {
    width: 100%;
    max-width: 1200px;
}

/* 메뉴 section */
.menu-section {
    width: 100%;
    background: url(../img/sub_img.jpg) center no-repeat;
    background-size: cover;
    height: 20vh;
}
.menu-btn-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.menu-btn-wrapper > .row {
    position: absolute;
    width: 95%;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-btn-wrapper .row > div {
    background-color: #fff;
}
.menu-btn-wrapper > div > div:nth-child(2) {
    background-color: #e9e9e9;
    margin-left: -1px;
}
.menu-btn-wrapper > div > div:nth-child(3) {
    margin-top: 3px;
}
.menu-btn-wrapper button {
    border: 0;
    outline: 0;
    font-size: 0.9em;
}

/* 탭메뉴 영역 */
.tab-menu-wrapper {
    width: 100%;
    max-width: 1200px;
    /* background-color: aqua; */

}
.tab-menu-wrapper li {
    list-style: none;
    flex: 1;
}
.tab-menu-wrapper li a {
    text-decoration: none;
    font-size: 0.9em;
}
.tab-menu-wrapper li:not(:first-child) {
    margin-left: -1px;
}













/************ Class 추가 ************/
div .border-darkgrey {
    border-color: #555 !important;
}
/************ tablet 해상도 ************/
@media (min-width: 768px) {
    .menu-btn-wrapper > .row {
        width: 98%;
    }


}

/************ desktop 해상도 ************/
@media (min-width: 992px) {
    .menu-btn-wrapper .row > div {
        max-width: 200px;
    }
    .menu-btn-wrapper .row > div button {
        font-size: 1em;
    }
    .menu-section {
        height: 25vh;
    }
    .tab-menu-wrapper > div {
        width: 45%;
    }

}