@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
html, body {
    width: 100%;
    
}
/* 해당 메뉴 활성화 */
.gnb li:first-child {
    color: royalblue !important;
}
/* main section 영역 */
.main-section-wrapper {
    width: 100%;
    max-width: 1200px;
}
.menu-btn-wrapper {
    width: 100%;
    position: relative;
}
.menu-btn-wrapper .row > div {
    background-color: #e9e9e9;
}
.menu-btn-wrapper > div > div:nth-child(2) {
    background-color: #fff;
    margin-left: -1px;
}
.menu-btn-wrapper > div > div:nth-child(3) {
    margin-top: 3px;
}
.menu-btn-wrapper button {
    border: 0;
    outline: 0;
    font-size: 0.9em;
}
.menu-btn-wrapper .bor-po {
    top: 48%;
    left: 0;
    z-index: -1;
}
.login-wrapper {
    width: 100%;
}
.login-wrapper .row {
    width: 100%;
}

.login-wrapper label {
    white-space: nowrap;
    font-size: 0.9em;
    flex-basis: 100px;
}
.login-wrapper button {
    background-color: darkorange;
    border: 0;
    outline: 0;
}
.login-wrapper p {
    font-size: 0.8em;
}
/************ Class 추가 ************/
div .border-darkgrey {
    border-color: #555 !important;
}
/************ tablet 해상도 ************/
@media (min-width: 768px) {
    .menu-btn-wrapper .bor-po {
        top: 75%;
    }
    .menu-btn-wrapper > div > div:nth-child(3) {
        margin-top: 0;
    }
    .login-wrapper {
        margin: 0 auto;
    }
    .login-wrapper .row {
        width: 75%;
    }
}

/************ desktop 해상도 ************/
@media (min-width: 992px) {
    .menu-btn-wrapper .row > div {
        max-width: 200px;
    }
    .menu-btn-wrapper .row > div button {
        font-size: 1em;
    }

}