@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
html, body {
    width: 100%;
}
/* 메뉴 활성화 */
.lnb-menu > li:last-child > a {
    color: royalblue;
}
/* main section 영역 */
.main-section-wrapper {
    width: 100%;
    max-width: 1200px;
}
/* 메뉴 section */
.menu-section {
    width: 100%;
    background: url(../img/sub_img.jpg) center no-repeat;
    background-size: cover;
    height: 20vh;
}
.menu-btn-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.menu-btn-wrapper > .row {
    position: absolute;
    width: 95%;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-btn-wrapper .row > div {
    background-color: #fff;
}
.menu-btn-wrapper > div > div:nth-child(2) {
    background-color: #e9e9e9;
    margin-left: -1px;
}
.menu-btn-wrapper > div > div:nth-child(3) {
    margin-top: 3px;
}
.menu-btn-wrapper button {
    border: 0;
    outline: 0;
    font-size: 0.9em;
}
/* table list section */
.table-wrapper, .content-wrapper {
    max-width: 950px;
}
.table-wrapper table {
    width: 150%;
    table-layout: fixed;
}
.table-wrapper table thead th:nth-child(1) {
    width: 55px;
}
.table-wrapper table thead th:nth-child(2) {
    width: 65px;
}
.table-wrapper table tbody td:nth-child(3) {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space:nowrap;
    cursor: pointer;
}
.table-wrapper table thead th:nth-child(4) {
    width: 70px;
}
.table-wrapper table thead th:nth-child(5) {
    width: 100px;
}
.table-wrapper table tbody td:not(td:nth-child(2)) {
    font-size: 0.9em;
}
/* pagination 영역 */
.pagination-wrapper a {
    color: #555;
    font-size: 0.85em;
}
.pagination-icon a {
    border: none;
    background-color: transparent !important;
    /* color: #555; */
}
div .pagination-active {
    background-color: #555;
    color: #fff !important;
}
/* 상세 영역 */
.notice-content p, .notice-content a {
    font-size: 0.9em;
}
.notice-info li:nth-child(2) {
    flex-direction: column;
}


/************ Class 추가 ************/
div .border-darkgrey {
    border-color: #555 !important;
}
.type-important {
    background-color: darkorange;
}
.type-normal {
    background-color: #999;
}

/************ tablet 해상도 ************/
@media (min-width: 768px) {
    .table-wrapper table {
        width: 100%;
    }
    .table-wrapper table thead th:nth-child(4) {
        width: 10%;
    }
    .table-wrapper table thead th:nth-child(5) {
        width: 14%;
    }

}

/************ desktop 해상도 ************/
@media (min-width: 992px) {
    .menu-btn-wrapper .row > div {
        max-width: 220px;
    }
    .notice-content p, .notice-content a {
        font-size: 1em;
    }
    .notice-info li:nth-child(2) {
        flex-direction: row;
    }
    .notice-info li:nth-child(2) p {
        width: 30%;
    }
}