@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
html, body {
    width: 100%;
}
/* 메뉴 활성화 */
.lnb-menu > li:last-child > a {
    color: royalblue;
}
/* main section 영역 */
.main-section-wrapper {
    width: 100%;
    max-width: 1200px;
}
/* main section 영역 */
.main-section-wrapper {
    width: 100%;
    max-width: 1200px;
}
/* 메뉴 section */
.menu-section {
    width: 100%;
    background: url(../img/sub_img.jpg) center no-repeat;
    background-size: cover;
    height: 20vh;
}
.menu-btn-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.menu-btn-wrapper > .row {
    position: absolute;
    width: 95%;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-btn-wrapper .row > div {
    background-color: #e9e9e9;
}
.menu-btn-wrapper > div > div:nth-child(2) {
    background-color: #fff;
    margin-left: -1px;
}
.menu-btn-wrapper > div > div:nth-child(3) {
    margin-top: 3px;
}
.menu-btn-wrapper button {
    border: 0;
    outline: 0;
    font-size: 0.9em;
}
/* 목록보기 영역 */
.table-wrapper {
    position: relative;
}
.calendar-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 9;
}
.table-wrapper, .content-wrapper {
    max-width: 950px;
}
.table-wrapper .notice-list table {
    width: 180%;
    table-layout: fixed;
}
.table-wrapper .notice-list table thead th:nth-child(1) {
    width: 55px;
}
.table-wrapper .notice-list table thead th:nth-child(2) {
    width: 65px;
}
.table-wrapper .notice-list table thead th:nth-child(3) {
    width: 180px;
}
.table-wrapper .notice-list table tbody td:nth-child(4) {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space:nowrap;
    cursor: pointer;
}

.table-wrapper .notice-list table tbody td:not(td:nth-child(2)) {
    font-size: 0.9em;
}
.table-wrapper .notice-list table tbody td:nth-child(3) {
    font-size: 0.8em !important;
}
/* pagination 영역 */
.pagination-wrapper a {
    color: #555;
    font-size: 0.85em;
}
.pagination-icon a {
    border: none;
    background-color: transparent !important;
    /* color: #555; */
}
div .pagination-active {
    background-color: #555;
    color: #fff !important;
}

/* 달력보기 영역 */

/*********** 달력보기 content 영역 ***********/
.calendar-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    display: none;
}
.calendar-content form {
    position: absolute;
    top: -35px;
    right: 10px;
}
.month-calendar-wrapper {
    width: 100%;
    height: auto;
}
.calendar-wrap {
    width: 260px;
}
.mobile-schedule-title {
    display: block;
}
.tablet-schedule-title {
    display: none;
}
.schedule-content div {
    font-size: 0.95em;
}
.schedule-content div p:first-child {
    /* flex-grow: 120px; */
    white-space: nowrap;
}
.schedule-content div p:nth-child(2) {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space:nowrap;

}
/*********** 풀캘린더 커스터마이징 ***********/
.fc-header-toolbar {
    margin-bottom: 12px !important;
}
/* 년월 타이틀 폰트 사이즈 */
.fc-toolbar-title {
    font-size: 1.1em !important;
    padding-left: 10px !important;
}
.fc-scrollgrid-sync-inner a {
    text-decoration: none;
    color: #555;
    /* position: absolute;
    z-index: 9;
    background-color: transparent; */
}
/* 달력 grid마다 height */
.fc-daygrid-body table tbody tr td div {
    height: 40px;
}
.fc-daygrid-day-top {
    justify-content: center;
    align-items: center;
}
.fc-daygrid-event {
    background-color: transparent;
    border: none !important;
    padding-top: 4px;
}
/* 이벤트 있을 때 */
.fc-daygrid-event .fc-event-main .fc-event-title-container{
    /* border-color: gold; */
    height: 35px;
    opacity: 0.3;
    transform: translateY(-44px);
}
.fc-daygrid-day-events {
    margin-bottom: 0 !important;
}
.fc-event-title-container {
    background-color: gold;
    opacity: 0.3;
}
.fc td, .fc th {
    border-style: none !important;
  }
.fc-dayGridMonth-view > table {
    border-color: rgb(245, 245, 245) !important;
    border-bottom: 1px solid rgb(245, 245, 245) !important;
    border-right: 1px solid rgb(245, 245, 245) !important;
    font-size: 0.9em;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
}
.fc-scrollgrid-section-header .fc-scrollgrid-sync-inner {
    padding: 5px 0 !important;
}
.fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
    top:0 !important;
}
/* 맨위로 */
.go-top {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.go-top span {
    width: 20px;
    height: 20px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 15%;
    position: fixed;
    bottom: 35px;
    right: 40px;
    transform: rotate(-45deg);
}
.show {
    opacity: 1;
    visibility: visible;
}





/* 상세 영역 */
.notice-content p, .notice-content a {
    font-size: 0.9em;
}



/************ Class 추가 ************/
div .border-darkgrey {
    border-color: #555 !important;
}
.type-homeground {
    background-color: #fff;
    border: 1px solid #555;
}
.type-overseas {
    background-color: rgb(160, 160, 160);
}
.text-darkblue {
    color: darkblue !important;
}


/************ tablet 해상도 ************/
@media (min-width: 768px) {
    .table-wrapper .notice-list table {
        width: 100%;
    }
    .table-wrapper .notice-list table thead th:nth-child(3) {
        width: 200px;
    }
    .mobile-schedule-title {
        display: none;
    }
    .tablet-schedule-title {
        display: block;
    }

}

/************ desktop 해상도 ************/
@media (min-width: 992px) {
    .menu-btn-wrapper .row > div {
        max-width: 220px;
    }
    .table-wrapper .notice-list table tbody td:nth-child(3) {
        font-size: 0.9em !important;
    }
    .notice-content p, .notice-content a {
        font-size: 1em;
    }
    .notice-info li:nth-child(2) {
        flex-direction: row;
    }
    .notice-info li:not(:first-child):not(.file-item) p {
        width: 30%;
    }
    .tablet-schedule-title {
        font-size: 1.1em !important;
    }
    .calendar-content form {
        top: -58px;
        left: 150px;
    }
}