@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');


#bg-img {
    width: 100vw;
    height: 100%;
    background: url(gif_960\ 540\ _20frame_noloap.gif) center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 4s;
}
h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'Noto Serif KR', serif;
    letter-spacing: 0.4rem;
}
p {
    font-family: 'Noto Serif KR', serif;
}
button {
    padding: 4px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Noto Serif KR', serif;
    font-size: 0.8rem;
}
button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.3rem;
    height: 4.3rem;
    border: 2px solid #fff;
    border-radius: 1000px;
}
#wrap {
    opacity: 0;
    transition: all 2s;
}

/* Tablet */
@media (min-width: 768px) {
body {
    font-size: 16px;
}
button {
    font-size: 1rem;
}
button span {
    width: 5rem;
    height: 5rem;
}
}
/* Desktop */
@media (min-width: 1024px) {

}