@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Nanum Myeongjo', serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    text-size-adjust: none;
	-webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
}
/* h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.3rem;
    text-align: center;
    height: auto;
}
.text-area {
    background-color: sienna;

    position: relative;
}
.text-wrapper {
    background-color: slategray;
    position: relative;
}
.vr-btn {
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
}
.vr-btn span {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
} */
h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.3rem;
}