@charset "utf-8";

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

#address {
    text-align: center;
}

#lnb {
    font-size: 1em;

}

#gnb {
    font-size: 1em;
}
#gnb li:first-child a {
    border-top: 1px solid #fff;
}
.sub-menu {
    position: initial;

}
























/* Tablet */
@media (min-width: 768px) {
    #address {
        text-align: left;
    }


}


/* Desktop */
@media (min-width: 1024px) {
    #lnb {
        font-size: 0.95em;
    }
    #gnb {
        font-size: 0.85em;
    }
    #gnb li:first-child a {
        border-top: none;
    }
    .sub-menu {
        position: absolute;
        background-color: teal;

    }


}