@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
html, body {
    width: 100%;
}
.hidden{
    overflow: hidden;
    border: 0;
    width: 0;
    height: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    display: inline-block;
  }
/* 해당 메뉴 활성화 */
.lnb-menu > li:nth-child(2) > a {
    color: royalblue !important;
}
/* Sub Banner 백그라운드 이미지 */
.sub-banner {
    background: url(../img/sub_img.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
}
/* Tab Menu */
.tab-menu-wrapper {
    width: 100%;
    max-width: 1200px;
    position: relative;
}
.tab-menu-btn-wrapper .row {
    width: 95%;
    position: absolute;
    font-size: 0.9em;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
}
.tab-menu-btn-wrapper .row > div:nth-child(2) {
    margin-left: -1px;
}
/************ main section 영역 ************/

/* First Tab Menu의 Section */
.first-tab-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Sub Menu */
.sub-menu-wrapper {
    width: 100%;
    max-width: 1200px;
}
.sub-menu-wrapper li {
    list-style: none;
    flex: 1;
}
.sub-menu-wrapper li a {
    text-decoration: none;
    font-size: 0.9em;
}
.sub-menu-wrapper li:not(:first-child) {
    margin-left: -1px;
}
.contents-wrapper section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Second Tab Menu의 Section */
.second-tab-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: none;
}

/* 모집단위 응시자격 영역 */
.pro-table-wrapper table {
    width: 200%;
    table-layout: fixed;
    font-size: 0.9em;
}
.pro-table-wrapper table thead th:first-child {
    width: 120px;
}
.pro-table-wrapper table thead th:nth-child(2) {
    width: 200px;
}

.pro-table-wrapper table tbody td:first-child {
    text-align: center;
    height: 80px;
}
.normal-table-wrapper table {
    width: 150%;
    table-layout: fixed;
    font-size: 0.9em;
}
.normal-table-wrapper table thead th:first-child {
    width: 100px;
}
.normal-table-wrapper table thead th:nth-child(2) {
    width: 60px;
}
.normal-table-wrapper table thead th:last-child {
    width: 150px;
}
.normal-table-wrapper table tbody td:first-child {
    text-align: center;
}
/* 맨위로 */
.go-top {
    width: 40px;
    height: 40px;
    background-color: rgb(250, 250, 250);;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.go-top span {
    width: 20px;
    height: 20px;
    border-top: 5px solid #555;
    border-right: 5px solid #555;
    border-radius: 15%;
    position: fixed;
    bottom: 35px;
    right: 40px;
    transform: rotate(-45deg);
}
.show {
    opacity: 1;
    visibility: visible;
}

/************ Class 추가 ************/
div .border-darkgrey {
    border-color: #555 !important;
}
/* btn active */
.active {
    background-color: #fff;
    color: #000;
}
.inactive {
    background-color: #e9e9e9;
    color: #6c757d;

}
/************ tablet 해상도 ************/
@media (min-width: 768px) {
    .pro-table-wrapper table {
        width: 100%;
        font-size: 1em;
    }
    .normal-table-wrapper table {
        width: 100%;
        font-size: 1em;
    }


}

/************ desktop 해상도 ************/
@media (min-width: 992px) {
    /* Sub Banner 백그라운드 이미지 */
    .sub-banner {
        height: 25vh;
    }
    /* Tab Menu */
    .tab-menu-btn-wrapper .row {
        font-size: 1em; 
    }
    .tab-menu-btn-wrapper .row div {
        max-width: 200px;
    }
    /* Sub Menu */
    .sub-menu-wrapper > div {
        width: auto;
    }
    .sub-menu-wrapper ul {
        display: block !important;
    }
    .sub-menu-wrapper li {
        width: 120px;
        float: left;
    } 

}